.product-card {
  width: 285px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 0.3s ease;
}
.product-image-container {
  position: relative;
  height: 301px;
}
.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.discount-badge {
  position: absolute;
  top: 16px;
  right: 16px;
  color: white;
  padding: 14px 7px;
  border-radius: 50%;
  font-weight: bold;
  white-space: nowrap;
  z-index: 1;
  transition: opacity 0.3s ease;
}
.product-info {
  padding: 16px;
  flex: 1;
  text-align: left;
  background-color: #f4f5f7;
  z-index: 1;
}
.product-title {
  font-size: 26px;
  margin-bottom: -8px;
  margin-top: -1px;
  font-family: "Arial";
}
.product-description {
  color: #666;
  margin-bottom: 12px;
  font-size: 18px;
}
.prices {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.price-old {
  text-decoration: line-through;
  color: #999;
  font-size: 18px;
}
.price-new {
  font-weight: bold;
  font-size: 22px;
}
.product-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
  pointer-events: none;
}
.card-overlay {
  position: absolute;
  top: 100px;
  left: 1px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 3;
  text-align: center;
}
.add-to-cart-btn {
  background: white;
  color: var(--primary-color);
  padding: 12px 24px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 25px;
  margin-top: -30px;
}
.action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 200px;
  gap: 10px;
  font-size: 14px;
  margin-bottom: 15px;
}
.product-title-hover,
.product-description-hover {
  margin: 10px 0;
}
.price-hover {
  font-size: 20px;
  font-weight: bold;
}
.product-card:hover::before,
.product-card:hover .card-overlay {
  opacity: 1;
}
.product-card:hover .discount-badge {
  opacity: 0;
}
.icon-share {
  font-family: "Arial Black";
  color: white;
  margin-top: -5px;
}