<div class="browse-card">
    <div class="browse-card-name">
        Browse The Range
    </div>
    <div class="browse-card-description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </div>
    <div class="browse-collage">
        <div class="collage-card">
            <picture>
                <img src="./assets/images/help.webp" class="card-image">
            </picture>
            <div class="card-name">
                Dining
            </div>
        </div>
    </div>
</div>