<div class="footer-container">
    <div class="footer-grid">
        <div>
            <div class="brand-section">Funiro.</div>
            <p class="address">
                400 University Drive Suite 200 Coral<br>
                Gables,<br>
                FL 33134 USA
            </p>
        </div>
        <nav class="links-section">
            <h3>Links</h3>
            <ul class="links-section">
                <li><a href="#">Home</a></li>
                <li><a href="#">Shop</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
        <nav class="links-section">
            <h3>Help</h3>
            <ul class="links-section">
                <li><a href="#">Payment Options</a></li>
                <li><a href="#">Returns</a></li>
                <li><a href="#">Privacy Policies</a></li>
            </ul>
        </nav>
            <div class="links-section">
            <h3>Newsletter</h3>
                <form>
                <div class="forma">
                    <input type="email" placeholder="Enter Your Email Address" class="email-input" required>
                    <button class="subscribe-btn">SUBSCRIBE</button>
                </div>
                </form>
            </div>
    </div>
    <div class="copyright">
        <p>2023 furino. All rights reserved</p>
    </div>
</div>