<header class="header">
    <div class="header-logotype-name">
    <picture >
        <img src="./assets/images/logotype.webp" class="header-logo">
    </picture>
    <h1 class ="header-name">Furniro</h1>
    </div>
    <nav class="menu">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
        <div class="header-help-icon">
        <picture >
            <img src="./assets/images/help.webp" class="header-help-image">
        </picture>
        <picture >
            <img src="./assets/images/find.webp" class="header-help-image">
        </picture>
        <picture >
            <img src="./assets/images/like.webp" class="header-help-image">
        </picture>
        <picture >
            <img src="./assets/images/buy.webp" class="header-help-image">
        </picture>
        </div>
</header>